{{#section "intro"}}
{{> homeIntro}}
{{/section}}
{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/css/vwCourses/byCat.css">
{{/section}}

{{#section 'js'}}
<script type="text/javascript" src="/js/vwCourses/byCat.js"></script>
<!--script type="text/javascript" src="/js/addons-pro/mdb-file-upload.min.js"></script-->
{{/section}}


{{> countdown}}

<!-- Intro -->

<!-- Main Container -->
<div class="container">

  <!-- Grid row -->
  <div class="row">

    <!-- Content -->
    <div class="col-lg-12">


      <section>

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-12">


            <div class="divider-new">

              <h3 class="h3-responsive font-weight-bold dark-grey-text mx-3" style="font-size:1cm">Khóa học nổi bật</h3>

            </div>


            <br>

            <!-- Grid row -->
            <div class="row">
              {{#if special_courses}}
              {{#each special_courses}}

              <div class="col-lg-4 col-md-12 mb-4">

                <!-- Card -->
                <div class="card card-ecommerce">

                  <!-- Card image -->
                  <div class="view overlay">

                    <img class="img-fluid" src="{{image}}" alt="sample image">

                    <a href="/course/{{this.id}}">
                      <div class="mask waves-effect waves-light">
                        <img class="img-fluid w-100" width="341" height="135" src="">
                        <div class="mask rgba-black-slight waves-effect waves-light"></div>
                      </div>
                    </a>

                  </div>
                  <!-- Card image -->

                  <!-- Card content -->
                  <div class="card-body">

                    <!-- Category & Title -->
                    <h5 class="card-title mb-1">

                      <strong>

                        <a href="/course/{{this.id}}" class="dark-grey-text">{{title}}</a>

                      </strong>

                    </h5>

                    <span class="badge badge-danger mb-2">Bestseller</span>
                    <script>
                      if ({{ discount }} > 0)
                      document.write('<span class="badge badge-success mb-2 ml-2">SALE</span>');

                    </script>

                    <!-- Rating -->
                    

                    <!-- Card footer -->
                    <div class="card-footer pb-0">

                      <div class="row mb-0">

                        <h5 class="mb-0 pb-0 mt-1 font-weight-bold">

                          <span class="red-text">

                            <strong>${{price}}</strong>

                          </span>
                          <script>
                            if ({{ discount }}> 0)
                            document.write(' <span class="grey-text"> <small> <s>${{full_price}}</s> </small> </span>');

                          </script>

                        </h5>

                        <span class="float-right">

                          <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                            <i class="fas fa-shopping-cart ml-3"></i>

                          </a>

                        </span>

                      </div>

                    </div>

                  </div>
                  <!-- Card content -->

                </div>
                <!-- Card -->

              </div>
              {{/each}}
              {{/if}}



            </div>

          </div>

          <!-- Grid row -->
      </section>
      <!-- Section: Bestsellers & offers -->

      <!-- Section: Advertising -->
      <section>

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-12">

            <!-- Image -->
            <div class="view  z-depth-1">

              <img style="width: 480px;height: 270px;" src="https://img-a.udemycdn.com/course/240x135/293814_7732_4.jpg"
                class="img-fluid" alt="sample image">

              <div class="mask rgba-stylish-slight">

                <div class="dark-grey-text text-right pt-lg-5 pt-md-1 mr-5 pr-md-4 pr-0">

                  <div>

                    <a>

                      <span class="badge badge-primary">SALE</span>

                    </a>

                    <h2 class="card-title font-weight-bold pt-md-3 pt-1">

                      <strong>Title quảng cáo !

                      </strong>

                    </h2>

                    <p class="pb-lg-3 pb-md-1 clearfix d-none d-md-block">Giảm 20% cho tất cả khóa học </p>



                  </div>

                </div>

              </div>

            </div>
            <!-- Image -->

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </section>


      <!-- Section: 10 khóa học được xem nhiều nhất -->
      <section>

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-12">


            <div class="divider-new">

              <h3 class="h3-responsive font-weight-bold dark-grey-text mx-3" style="font-size:1cm">10 Khóa học được xem nhiều nhất</h3>

            </div>


            <br>

            <!-- Grid row -->
            <div class="row">
              {{#if mostView_courses}}
              {{#each mostView_courses}}

              <div class="col-lg-4 col-md-12 mb-4">

                <!-- Card -->
                <div class="card card-ecommerce">

                  <!-- Card image -->
                  <div class="view overlay">

                    <img class="img-fluid" src="{{image}}" alt="sample image">

                    <a href="/course/{{this.id}}">
                      <div class="mask waves-effect waves-light">
                        <img class="img-fluid w-100" width="341" height="135" src="">
                        <div class="mask rgba-black-slight waves-effect waves-light"></div>
                      </div>
                    </a>

                  </div>
                  <!-- Card image -->

                  <!-- Card content -->
                  <div class="card-body">

                    <!-- Category & Title -->
                    <h5 class="card-title mb-1">

                      <strong>

                        <a href="/course/{{this.id}}" class="dark-grey-text">{{title}}</a>

                      </strong>

                    </h5>

                    <span class="badge badge-danger mb-2">Bestseller</span>
                    <script>
                      if ({{ discount }} > 0)
                      document.write('<span class="badge badge-success mb-2 ml-2">SALE</span>');

                    </script>

                    <!-- Rating -->
                   

                    <!-- Card footer -->
                    <div class="card-footer pb-0">

                      <div class="row mb-0">

                        <h5 class="mb-0 pb-0 mt-1 font-weight-bold">

                          <span class="red-text">

                            <strong>${{price}}</strong>

                          </span>
                          <script>
                            if ({{ discount }}> 0)
                            document.write(' <span class="grey-text"> <small> <s>${{full_price}}</s> </small> </span>');

                          </script>

                        </h5>

                        <span class="float-right">

                          <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                            <i class="fas fa-shopping-cart ml-3"></i>

                          </a>

                        </span>

                      </div>

                    </div>

                  </div>
                  <!-- Card content -->

                </div>
                <!-- Card -->

              </div>
              {{/each}}
              {{/if}}



            </div>

          </div>

          <!-- Grid row -->
      </section>
      <!-- Section: 10 khóa học được xem nhiều nhất -->

      <!--Section: 10 khóa học được đăng gần nhất -->
      <section>

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-12">


            <div class="divider-new">

              <h3 class="h3-responsive font-weight-bold dark-grey-text mx-3" style="font-size:1cm">10 Khóa học mới đăng</h3>

            </div>


            <br>

            <!-- Grid row -->
            <div class="row">
              {{#if last_courses}}
              {{#each last_courses}}

              <div class="col-lg-4 col-md-12 mb-4">

                <!-- Card -->
                <div class="card card-ecommerce">

                  <!-- Card image -->
                  <div class="view overlay">

                    <img class="img-fluid" src="{{image}}" alt="sample image">

                    <a href="/course/{{this.id}}">
                      <div class="mask waves-effect waves-light">
                        <img class="img-fluid w-100" width="341" height="135" src="">
                        <div class="mask rgba-black-slight waves-effect waves-light"></div>
                      </div>
                    </a>

                  </div>
                  <!-- Card image -->

                  <!-- Card content -->
                  <div class="card-body">

                    <!-- Category & Title -->
                    <h5 class="card-title mb-1">

                      <strong>

                        <a href="/course/{{this.id}}" class="dark-grey-text">{{title}}</a>

                      </strong>

                    </h5>

                    <span class="badge badge-danger mb-2">New</span>
                    <script>
                      if ({{ discount }} > 0)
                      document.write('<span class="badge badge-success mb-2 ml-2">SALE</span>');

                    </script>

                    <!-- Rating -->
                    

                    <!-- Card footer -->
                    <div class="card-footer pb-0">

                      <div class="row mb-0">

                        <h5 class="mb-0 pb-0 mt-1 font-weight-bold">

                          <span class="red-text">

                            <strong>${{price}}</strong>

                          </span>
                          <script>
                            if ({{ discount }}> 0)
                            document.write(' <span class="grey-text"> <small> <s>${{full_price}}</s> </small> </span>');

                          </script>

                        </h5>

                        <span class="float-right">

                          <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                            <i class="fas fa-shopping-cart ml-3"></i>

                          </a>

                        </span>

                      </div>

                    </div>

                  </div>
                  <!-- Card content -->

                </div>
                <!-- Card -->

              </div>
              {{/each}}
              {{/if}}



            </div>

          </div>

          <!-- Grid row -->
      </section>
      

      <!-- Content -->

    </div>
    <!-- Grid row -->

  </div>
  <!--main container-->