{{#section 'css'}}
<style>
  body {
    padding-top: 55px;
  }
</style>

<link rel="stylesheet" href="https://cdn.plyr.io/3.6.3/plyr.css" />
{{/section}}

{{#section 'js'}}
<script src="https://cdn.plyr.io/3.6.3/plyr.js"></script>
<script>
  $(document).ready(() => {
    const player = new Plyr('#player');
    window.player = player;
  });
</script>


{{/section}}

<!--Main layout-->
<main>
  <div class="container">
    <!--Section: Block Content-->
    <section class="mt-5 mb-4">

      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-8">

          <div class="card mb-4">

            <div class="card-body">
              {{#if lecture.youtube_id}}
              <div id="player" data-plyr-provider="youtube" data-plyr-embed-id="{{lecture.youtube_id}}"></div>
              {{else}}
              <div class="container">
                <video id="player" controls crossorigin playsinline poster="">
                  <source src="{{lecture.video}}" type="video/mp4" size="480">
                  <!-- Fallback for browsers that don't support the <video> element -->
                  <a href="{{lecture.video}}" download>Download</a>
                </video>
              </div>
              {{/if}}
              <h5 class="mt-3 mb-0">{{lecture.name}}</h5>
            </div>
          </div>
          <!-- Card -->

          <!--Grid row-->
          <div class="row">
            <!--Grid column-->

                <!-- Card -->
                <div class="card mb-4">

                  <div class="card-body">
                    <h4 class="card-title">Lecture content</h4>
                    {{{description}}}
                  </div>
                <!-- Card -->
              </div>
            </div>
            <!--Grid column-->
          <!--Grid row-->
        </div>
        <!--Grid column-->
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <h3 class="text-center">Course outline</h3>
              <hr>
              <!--Accordion wrapper-->
              <div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">
                {{#each chapters}}
                <!-- Accordion card -->
                <div class="card">

                  <!-- Card header -->
                  <div class="card-header" role="tab" id="headingTwo{{this.chapter_id}}">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1"
                      href="#collapseTwo{{this.chapter_id}}" aria-expanded="false"
                      aria-controls="collapseTwo{{this.chapter_id}}">
                      <h5 class="mb-0">
                        {{this.chapter_name}} <i class="fas fa-angle-down rotate-icon"></i>
                      </h5>
                    </a>
                  </div>

                  <!-- Card body -->
                  <div id="collapseTwo{{this.chapter_id}}" class="collapse" role="tabpanel"
                    aria-labelledby="headingTwo{{this.chapter_id}}" data-parent="#accordionEx1">
                    <div class="card-body">
                      {{#each this.lectures}}
                      <!-- Material checked -->
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialChecked{{this.lecture_id}}">
                        <label class="form-check-label" for="materialChecked{{this.lecture_id}}">
                          {{#if (eq this.lecture_id ../../lecture.lecture_id)}}
                          <a href="/course/{{../../course_id}}/lecture/{{this.lecture_id}}" class="text-default">
                            {{this.name}}
                          </a>
                          {{else}}
                          <a href="/course/{{../../course_id}}/lecture/{{this.lecture_id}}" class="text-dark">
                            {{this.name}}
                          </a>
                          {{/if}}
                        </label>
                      </div>
                      {{/each}}

                    </div>
                  </div>

                </div>
                <!-- Accordion card -->
                {{/each}}
              </div>
              <!-- Accordion wrapper -->
            </div>
          </div>
        </div>
        <!-- Card -->
      </div>
      <!--Grid row-->

    </section>
    <!--Section: Block Content-->

  </div>
</main>
<!--Main layout-->