{{#section 'titleExtraText'}}| {{course.title}} {{/section}}

{{#section 'css'}}
<link rel="stylesheet" href="https://cdn.plyr.io/3.6.3/plyr.css" />
<link rel="stylesheet" type="text/css" href="/css/vwCourse/courseDetail.css">
{{/section}}

{{#section 'js'}}
<script src="https://cdn.plyr.io/3.6.3/plyr.js"></script>
<script>
  window.point_index = `${Number({{comment.point}}) - 1}`;
  $(() => {
    $('.toast').toast('show');
    const player = new Plyr('#player');
    window.player = player;
    
  });
</script>
<script type="text/javascript" src="/js/vwCourse/courseDetail.js"></script>
{{/section}}

<div class="container">
  <div class="row">

    <!-- Main Container -->
    <div class="col-lg-10 col-md-12 scrollspy-container" data-offset="0">

      <div class="container">

        <!-- Section: Product detail -->
        <section id="productDetails" class="pb-5">
          <!--Card-->
          <div class="card">
          
            <!--Card image-->
            <div class="view overlay">
              <img src="{{course.image}}" class="card-img-top" alt="">
              <a href="#">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
          
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title text-center font-weight-bold text-uppercase product-name"><strong>{{course.title}}</strong></h4>
              <!--Text-->
              <hr>
              
              <h5 class="text-md">
                {{course.short_description}}
              </h5>
              <div class="d-flex justify-content-between my-2">
                <h5>
                  <span class="orange-text">{{avgStar}}</span>
                  <span>
                    <script>
                      var point = {{ avgStar }};
                      for (var j = 1; j <= 5; j++) {
                        if (point >= 1) {
                          document.write('<i class="fas fa-star orange-text"></i>');
                          point -= 1;
                          continue;
                        }
                        if (point > 0) {
                          document.write('<i class="fas fa-star-half orange-text"></i>');
                          point -= 1;
                          continue;
                        }
                        document.write('<i class="far fa-star orange-text"></i>');
                        point -= 1;
                      }
                    </script>
                  </span>

                  <span class="card-text">({{numRating}} ratings) {{numStudent}} students</span>
                </h5>

                <p>
                  <span>
                  Last update:
                  <script>
                    var d = new Date("{{course.last_update}}");
                    var last_update = d.getDate() + '/' + (d.getMonth() + 1) + '/' + d.getFullYear();
                    document.write(last_update)
                  </script>
                  </span>
                </p>      

                <h3>
                {{#is course.discount 0}}
                  <span class="red-text font-weight-bold">
                    <strong>{{course.full_price}} </strong>
                    <small>
                      $
                    </small> 
                  </span>
                {{else}}

                  <span class="grey-text">
                    <s>
                      <small>
                        $
                      </small>
                      <strong>{{course.full_price}} </strong>
                    </s>
                    <span class="red-text font-weight-bold">
                      <small>
                        $
                      </small>
                      <strong>{{course.price}} </strong>
                    </span>
                  </span>
                  {{/is}}
                </h3>
              </div>
              <h5>
                <p class="mb-3 text-muted text-uppercase small">By {{instructorsStr}}
                </p>
              </h5>
              {{#if isBuy}}
                <a class="btn btn-primary float-right" data-toggle="tooltip" data-placement="top" title="Was buy" href="/course/{{course.id}}/lecture">
                  <i class="fas fa-check ml-3"></i> Start Learning
                </a>
                {{else}}
                {{#if inCart}}
                <a class="btn btn-primary float-right" data-toggle="tooltip" data-placement="top" title="In Cart" href="/cart">&nbsp;&nbsp;
                  <i class="fas fa-luggage-cart"></i> Check your cart
                </a>
                {{else}}
                <a class="btn btn-primary float-right" id="addToCard{{course.id}}" data-toggle="tooltip" data-placement="top" title="Add to Cart"
                  onclick="addToCartFunction({{course.id}});">
                  <i class="fas fa-cart-plus ml-3"></i> Add to cart
                </a>
                {{/if}}
              {{/if}}
              <!--a href="#productDetail" class="btn btn-primary">Button</a-->
            </div>

          </div>
        </section>

        <section id="description">
          <div class="divider-new">
            <h3 class="h3-responsive font-weight-bold blue-text mx-3">Description</h3>
          </div>

          <div>
            <p>{{{course.full_description}}}</p>
          </div>
        </section>

        <!--Course content-->
      <div class="divider-new" id="courseOutline">
        <h3 class="h3-responsive font-weight-bold blue-text mx-3">Course outline</h3>
      </div>

      {{#if chapters}}
      <div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">
        {{#each chapters}}
        <!-- Accordion card -->
        <div class="card">

          <!-- Card header -->
          <script>
            console.log("{{../chapter_id}} {{this.chapter_id}}");
          </script>
          <div class="card-header" role="tab" id="headingTwo{{this.chapter_id}}">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1"
              href="#collapseTwo{{this.chapter_id}}" aria-expanded="true"
              aria-controls="collapseTwo{{this.chapter_id}}">
              <h5 class="mb-0 font-weight-normal">
                {{this.chapter_name}} <i class="fas fa-angle-down rotate-icon"></i>
              </h6>
            </a>
          </div>

          <!-- Card body -->
          <div id="collapseTwo{{this.chapter_id}}" class="collapse show" role="tabpanel"
            aria-labelledby="headingTwo{{this.chapter_id}}" data-parent="#accordionEx1">
            <div class="card-body">
              <ul class="list-unstyled">
                {{#each this.lectures}}
                <!-- Material checked -->
                    {{#if this.preview}}
                    <li><a class="text-info lectureName ml-3 font-weight-normal" data-video="{{this.youtube_id}}" onclick="previewCourse(event)">
                      {{this.name}}</a>
                      <i class="fas fa-play text-info"></i>
                    </li>
                    {{else}}
                    <li>
                      <a class="lectureName ml-3 font-weight-normal">{{this.name}}</a>
                    </li>
                    {{/if}}
                {{/each}}
              </ul>
              </div>
            </div>

          </div>
          <!-- Accordion card -->
          {{/each}}
        </div>
        <!-- Accordion wrapper -->
        {{else}}

        {{/if}}

        <!-- instructor -->
        <section id="instructor">
          <div class="divider-new">

            <a class="h3-responsive font-weight-bold blue-text mx-3" id="instructorInfo">Instructor information</a>

          </div>
          {{#each instructorRows}}
          <h3 class="blue-text">{{this.fullname}}</h3>
          <p>{{this.bio}}</p>
          <div class="row mb-5">
            <!-- Image column -->
            {{#if this.photo}}
            <div class="col col-2 mb-3 mx-3">
              <img src="{{this.photo}}" alt="sample image" class="imageInstructor">
            </div>
            {{else}}
            <div class="col col-2 mb-3 mx-3">
              <img src="http://placehold.it/150" alt="sample image" class="imageInstructor">
            </div>
            {{/if}}
            <!-- Image column -->

            <!-- Content column -->
            <div class="col col-9 mt-2 mx-3">
              <p>
                <i class="fas fa-star orange-text"></i>
                <span> &nbsp;&nbsp;{{this.avgStarOfInstructor}} Instructor rating</span>
              </p>
              <p>
                <i class="fas fa-eye orange-text"></i>
                <span> &nbsp;&nbsp;{{this.reviewOfInstructor}} Review</span>
              </p>
              <p>
                <i class="fas fa-user-friends orange-text"></i>
                <span> &nbsp;&nbsp;{{this.studentOfInstructor}} Student</span>
              </p>
              <p>
                <i class="fab fa-youtube orange-text"></i>
                <span> &nbsp;&nbsp;{{this.countCourseOfInstructor}} Course</span>
              </p>
            </div>
            <!-- Content column -->
          </div>
          <p>{{this.about_me}}</p>
          <hr>
          {{/each}}
        </section>

        <!-- Reviews -->
        <section id="reviews">

          <!-- Section: reviews -->
          <div class="divider-new">
            <h3 class="h3-responsive font-weight-bold blue-text mx-3">Reviews</h3>
          </div>

          <!-- Main wrapper -->
          <div class="comments-list text-center text-md-left">
            {{#if review}}
            {{#each review}}
              {{#if (not (eq username ../session.username))}}
              <div class="row mb-3">
                <!-- Image column -->
                {{#if photo}}
                <div class="col-sm-2 col-3 mb-3">
                  <img src="{{photo}}" alt="sample image" class="imagePreview">
                </div>
                {{else}}
                <div class="col-sm-2 col-3 mb-3">
                  <img src="http://placehold.it/100" alt="sample image" class="imagePreview">
                </div>
                {{/if}}

                <!-- Image column -->
                <div class="col-sm-10 col-9">
                  <!-- Content -->
                  <p class="user-name font-weight-bold"><span>{{username}}</span></p>

                  <div class="d-flex justify-content-between my-2">
                    
                    <ul class="rating">
                    <span>
                      <script>
                        for (var j = 1; j <= {{ point }}; j++) {
                          document.write('<i class="fas fa-star blue-text"></i>')
                        }
                      </script>
                    </span>
                    </ul>
                    <p>
                      <span> 
                        <script>
                          var d = new Date("{{feedback_date}}");
                          document.write('<i class="far fa-clock-o"></i>' + d.getDate() + '/' + (d.getMonth() + 1) + '/' + d.getFullYear())
                          </script>
                        </span>
                    </p>
                    <!-- Rating -->

                  </div>

                  <p class="dark-grey-text article">{{comment}}</p>
                </div>
              </div>
              {{/if}}
              <!-- Content -->
            {{/each}}
            {{/if}}

            {{#and (is session.type "student") isBuy}}
            <div class="row">
              <div class="col-12">
                <hr>
                <h3 class="font-weight-normal">
                  Your comment
                </h3>
                <span id="rateMe2" class="empty-stars mdb-rating">
                </span>
              </div>
              <div class="col-12">
                <form class="text-center" action="/course/{{course.id}}/comment/" method="POST" id="commentForm">
                  <div class="md-form">
                    <div class="form-row shadow-textarea shadow-textarea">
                      <label for="commentArea"></label>
                      <textarea class="form-control md-row z-depth-1" name="comment" id="commentArea" rows="5" placeholder="Write something here...">{{#if comment}}{{comment.comment}}{{/if}}
                      </textarea>
                      <!--form class="md-form" action="/course/{{course.id}}/postComment" method="POST"-->
                      <!--/form-->
                    </div>
                  </div>
                  <div class="form-row">
                    <input id="star" type="text" class="form-control" name="star" hidden value="{{#if comment}}{{comment.point}}{{/if}}"></input>
                  </div>
                  <button id="saveComment" type="submit" class="btn btn-info float-right">Save your comment</button>
                </form>
              </div>
            </div>
            {{/and}}
          </div>
          <!-- Main wrapper -->

        </section>

        <!-- Section -->
        <section id="relatedCourses">
          <div class="divider-new">
            <h3 class="h3-responsive font-weight-bold blue-text mx-3">Related course</h3>
          </div>
          <!-- Carousel Wrapper -->
          <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

            <!-- Controls -->
            <div class="controls-top">
              <a class="btn-floating primary-color" href="#multi-item-example" data-slide="prev">
                <i class="fas fa-chevron-left"></i>
              </a>

              <a class="btn-floating primary-color" href="#multi-item-example" data-slide="next">
                <i class="fas fa-chevron-right"></i>
              </a>

            </div>
            <!-- Controls -->

            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li class="primary-color" data-target="#multi-item-example" data-slide-to="0" class="active"></li>
              <li class="primary-color" data-target="#multi-item-example" data-slide-to="1"></li>
              <li class="primary-color" data-target="#multi-item-example" data-slide-to="2"></li>
            </ol>
            <!-- Indicators -->

            <!-- Slides -->
            <div class="carousel-inner" role="listbox">
              <script>
                var num = 0;
              </script>
              {{#each relateItems}}
              <script>
                if (num % 3 === 0) {
                  if (num === 0)
                    document.write(`<div class="carousel-item active">`);
                  else
                    document.write(`<div class="carousel-item">`);
                }
              </script>

              <div class="col-md-4 clearfix d-none d-md-block mb-4">

                <!-- Card -->
                <div class="card card-ecommerce">

                  <!-- Card image -->
                  <div class="view overlay">
                    <img src="{{image}}" class="imageSlide" alt="">
                    <a href="/course/{{id}}">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                  <!-- Card image -->

                  <!-- Card content -->
                  <div class="card-body">
                    <!-- Category & Title -->
                    <h5 class="card-title mb-1">
                      <strong>
                        <a href="/course/{{id}}" class="dark-grey-text">{{title}}</a>
                      </strong>

                    </h5>
                    {{#each tag}}
                    <span class="badge badge-danger mb-2">{{name}}</span>
                    {{/each}}
                    <!-- Rating -->
                    <ul class="rating"> {{avgStar}}
                      <script>
                        var point = {{ avgStar }};
                        for (var j = 1; j <= 5; j++) {
                          if (point >= 1) {
                            document.write(`<i class="fas fa-star orange-text"></i>`);
                            point -= 1;
                            continue;
                          }
                          if (point > 0) {
                            document.write('<i class="fas fa-star-half orange-text"></i>');
                            point -= 1;
                            continue;
                          }
                          document.write('<i class="far fa-star orange-text"></i>');
                          point -= 1;
                        }
                      </script>
                      <span class="mdb-color-text">total rating: {{total_rating}}</span>
                    </ul>

                    <!-- Card footer -->

                  </div>
                  <div class="card-footer pb-0">

                    <div class="row mb-0">

                      <span class="float-left">

                        <h5 class="h5-responsive text-center text-md-left mb-1 ml-xl-0 ml-4">
                          {{#is discount 0}}
                          <span class="red-text font-weight-bold">
                            <strong>{{this.full_price}} </strong>
                            <small>
                              $
                            </small>
                          </span>
                          {{else}}

                          <span class="grey-text">
                            <s>
                              <strong>{{this.full_price}} </strong>
                              <small>
                                $
                              </small>
                            </s>
                            <span class="red-text font-weight-bold">
                              <strong>{{this.price}} </strong>
                              <small>
                                $
                              </small>
                            </span>
                          </span>
                          {{/is}}

                      </span>
                      {{#if ../session/username}}
                      {{#if (eq session.type "student")}}
                      <span class="float-right">
                        {{#if isBuy}}
                      <a class="" data-toggle="tooltip" data-placement="top" title="Was buy">
                        <i class="fas fa-check ml-3"></i>
                      </a>
                        {{else}}
                          {{#if inCart}}
                          <a class="" data-toggle="tooltip" data-placement="top" title="In Cart" href="/cart">&nbsp;&nbsp;
                            <i class="fas fa-luggage-cart"></i>
                          </a>
                          {{else}}
                          <a class="" id="addToCard{{id}}" data-toggle="tooltip" data-placement="top" title="Add to Cart" onclick="addToCartFunction({{id}});">
                            <i class="fas fa-cart-plus ml-3"></i>
                          </a>
                          {{/if}}
                        {{/if}}
                      {{/if}}
                      {{#if (eq ../session.type "administrator")}}
                        {{#if disable}}
                        <a class="" id="admin{{id}}" data-toggle="tooltip" data-placement="top" title="Undisable" onclick="undisable({{id}})">
                          <i class="fas fa fa-unlock ml-3"></i>
                        </a>
                        {{else}}
                        <a class="" id="admin{{id}}" data-toggle="tooltip" data-placement="top" title="Disable" onclick="disable({{id}})">
                          <i class="fas fa fa-ban ml-3"></i>
                        </a>
                        {{/if}}
                      {{/if}}
                    {{/if}}

                      </span>

                    </div>
                  </div>

                </div>
                <!-- Card -->

              </div>

              <script>
                if (num % 3 === 2)
                  document.write('</div>');
                num++;
              </script>
              {{/each}}
            </div>
            <!-- Slides -->

          </div>
          <!-- Carousel Wrapper -->

        </section>
        <!-- Section -->

      </div>
    </div>

    <div class="col-lg-2 mt-5 ">
      <div class="sticky">
        <div id="scrollspy">
          <ul class="nav nav-pills default-pills smooth-scroll navbar-scrollspy" >
            <li class="nav-item">
              <a class="nav-link active" href="#productDetails">Course details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#description">Description</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#courseOutline">Course outline</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#instructor">Instructor</a>
            </li>                      
            <li class="nav-item">
              <a class="nav-link" href="#reviews">Review</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#relatedCourses">Related courses</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal-->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#previewModal" id="secretCourseReviewButton" hidden>Launch modal</button>

<!--Modal: modalYT-->
<div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
    <div class="modal-header">
      <p class="heading text-center">Course preview</p>

      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" class="white-text">&times;</span>
      </button>
    </div>
    <!--Content-->
    <div class="modal-content">

      <!--Body-->
      <div class="modal-body mb-0 p-0">

       <h4 class="font-weight-normal text-center mt-3"  id="lectureTitle">

       </h4>
       <div class="card">
         <div class="card-body">
          <div class="plyr__video-embed" id="player">
            <iframe
              src="http://www.youtube.com/embed/dQw4w9WgXcQ?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
              allowfullscreen
              allowtransparency
              allow="autoplay"
            ></iframe>
          </div>
         </div>

       </div>
      </div>
    </div>
    <!--/.Content-->

  </div>
</div>
<!--Modal: modalYT-->
