{{#section 'js'}}
<script type="text/javascript" src="/js/addons/datatables.min.js"></script>
<script type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
<script type="text/javascript" src="/js/vwAdmin/allCategory.js"></script>

<script>
  // Material Design example
  $(document).ready(function () {
    $('#accountTable').DataTable();

    $('#accountTable_wrapper').find('label').each(function () {
      $(this).parent().append($(this).children());
    });
    $('#accountTable_wrapper .dataTables_filter').find('input').each(function () {
      const $this = $(this);
      $this.attr("placeholder", "Search");
      $this.removeClass('form-control-sm');
    });
    $('#accountTable_wrapper .dataTables_length').addClass('d-flex flex-row');
    $('#accountTable_wrapper .dataTables_filter').addClass('md-form');
    $('#accountTable_wrapper select').removeClass(
      'custom-select custom-select-sm form-control form-control-sm');
    $('#accountTable_wrapper select').addClass('mdb-select');
    $('#accountTable_wrapper .mdb-select').materialSelect();
    $('#accountTable_wrapper .dataTables_filter').find('label').remove();
  });
</script>
{{/section}}

{{#section 'css'}}
<link href="/css/addons/datatables.min.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/css/vwAdmin/allCategory.css">
<style>
  body {
    padding-top: 95px;
  }
</style>
{{/section}}

<main>
  <div class="container">
    {{#if fail}}
    <div class="alert alert-danger js-error-alert">
      <div> {{fail}}</div>
    </div>
    {{/if}}
    <div id="ModalCategory" class="modal fade" role="dialog">
    <form method="post" action="/admin/category/add">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add category</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="form-row">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Name</span>
                        </div>
                        <input type="text" class="form-control" name="name" id="title"
                            aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default">Save</button>
                </div>
            </div>

        </div>
    </div>
    </form>
</div>
    <div id="ModalSubCategory" class="modal fade" role="dialog">
        <form method="post" action="/admin/sub_category/add">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add sub category</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="input-group mb-3 ml-4">
                  <div class="form-groups">
                  <label for="sel2">Select category:</label>
                  <select class="form-control" id="sel2" name="category_id">
                      {{#each rows}}
                          <script>
                              document.write('<option value="{{id}}">{{name}}</option>')
                          </script>
                      {{/each}}
                  </select>
                  </div>
                </div>
                <div class="modal-body mx-3">
                    <div class="form-row">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Name</span>
                            </div>
                            <input type="text" class="form-control" name="name" id="title"
                                aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Save</button>
                    </div>
                </div>

            </div>
        </div>
        </form>
    </div>
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h3 class="mt-2">Category</h3>
        <a class="btn btn-outline-success" data-toggle="modal" data-target="#ModalCategory" role="button">
          <i class="fa fa-plus" aria-hidden="true"></i>
          Create category
        </a>
        <a class="btn btn-outline-success" data-toggle="modal" data-target="#ModalSubCategory" role="button">
          <i class="fa fa-plus" aria-hidden="true"></i>
          Create sub category
        </a>
        <a class="btn btn-success" href="sub_category" role="button">
          Manage sub category
        </a>
      </div>
      <div class="card-body">
        <section class="view intro-2">     
          {{#if this.rows}}
          <table class="table table-hover" cellspacing="0" width="100%" id="accountTable">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col" id="noSort">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {{#each this.rows}}
              <tr>
                <th scope="row">{{id}}</th>
                <td >{{name}}</td>
                <td class="text-right">
                  <a name="" id="" class="btn btn-sm btn-primary" title="Edit Category"
                    href="/admin/category/{{id}}" role="button">
                    <i class="fas fa-pencil-alt"></i>
                  </a>
                  <a name="" id="" class="btn btn-sm btn-primary" title="Edit Category"
                    onclick="deleteCategory('/admin/category/{{id}}','{{id}}',this)" role="button">
                    <i class="fa fa-trash"></i>
                  </a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          {{else}}
            <h5 class="card-title">No data!</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          {{/if}}
        </section>
      </div>
    </div>
  </div>
</main>