{{#section 'titleExtraText'}}| My profile {{/section}}

{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/css/vwCoursesDetail/coursesDetail.css">
{{/section}}

{{#section 'js'}}
<script type="text/javascript" src="/js/vwCoursesDetail/coursesDetail.js"></script>
<!--script type="text/javascript" src="/js/addons-pro/mdb-file-upload.min.js"></script-->
{{/section}}

<body class="product-v1 hidden-sn white-skin animated">


  <!-- Main Container -->
  <div class="container mt-5 pt-3">

    <!-- Section: Product detail -->
    <section id="productDetails" class="pb-5">

      <!-- News card -->
      <div class="card mt-5 hoverable">

        <div class="row">

          <div class="col-lg-6">

            <img class="ml-10 mt-10 mb-10" style="width: 480px;height: 270px;" src="{{course.image}}" alt="First slide"
              class="img-fluid">

            <!-- Carousel Wrapper -->

          </div>

          <div class="col-lg-5 mr-3 text-center text-md-left">

            <h2
              class="h2-responsive text-center text-md-left product-name font-weight-bold dark-grey-text mb-1 ml-xl-0 ml-4 mt-5">

              <strong>{{course.title}}</strong>

            </h2>

            <h3 class="h3-responsive text-center text-md-left mb-1 ml-xl-0 ml-4">
              {{#is course.discount 0}}
                <span class="red-text font-weight-bold">
                  <strong>{{course.full_price}}  </strong>
                  <small>
                      $
                  </small>
                </span>
              {{else}}

              <span class="grey-text">
                <s>
                  <strong>{{course.full_price}} </strong>
                  <small>
                      $
                  </small>
                </s>
                <span class="red-text font-weight-bold">
                  <strong>{{course.price}} </strong>
                  <small>
                      $
                  </small>
                </span>
              </span>
              {{/is}}
            </h3>
            <h4 class="h4-responsive text-center text-md-left ml-xl-0 ml-4">
              <span>
                <small class="orange-text">{{avgStar}}</small>
                <span>
                  <script>
                    var point = {{avgStar}};
                    for (var j = 1; j <= 5; j++) {
                      if (point > 1)
                      {
                        document.write('<i class="fas fa-star orange-text"></i>');
                        point -= 1;
                        continue;
                      }
                      if (point > 0)
                      {
                        document.write('<i class="fas fa-star-half orange-text"></i>');
                        point -= 1;
                        continue;
                      }
                      document.write('<i class="far fa-star orange-text"></i>');
                      point -= 1;
                    }
                  </script>
                </span>
                <span>({{numRating}} ratings) {{numStudent}} students</span>
              </span>
            </h4>
            <h4>
              <span>Create by</span>
              <span><a href="#instructorInfo">{{instructor.fullname}}</a></span>
            </h4>
            <h4>
              Last update:
              <script>
                var d = new Date("{{course.last_update}}");
                var last_update = d.getDate() + '/' + d.getMonth() + '/' + d.getFullYear();
                document.write(last_update)
              </script>
            </h4>
              
          </div>

        </div>

      </div>

    </section>
    <div class="divider-new">

      <h3 class="h3-responsive font-weight-bold blue-text mx-3">Description</h3>

    </div>
    <div>
      <p>{{course.full_description}}</p>
    </div>
    <!-- Preview cource -->
    <div class="divider-new">

      <h3 class="h3-responsive font-weight-bold blue-text mx-3">Preview Course</h3>

    </div>
    <div>
      <p>Chỗ này thêm video preview khóa học nè!</p>
    </div>
    <!--Course content-->
    <div class="divider-new">

      <h3 class="h3-responsive font-weight-bold blue-text mx-3">Course content</h3>
    
    </div>
       
    <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

      <!-- Accordion card -->
      <div class="card">

       <!-- Card header -->
       <div class="card-header" role="tab" id="headingOne1">

         <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
           aria-controls="collapseOne1">

           <h5 class="mb-0">

             Tên Chương nha 

             <i class="fas fa-angle-down rotate-icon"></i>

           </h5>

         </a>

       </div>

       <!-- Card body -->
       <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
         data-parent="#accordionEx">

         <div class="card-body">

          list bài học

         </div>

       </div>

      </div>
      <div class="card">

        <!-- Card header -->
        <div class="card-header" role="tab" id="headingOne2">
 
          <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne2" aria-expanded="true"
            aria-controls="collapseOne2">
 
            <h5 class="mb-0">
 
              Tên Chương 2
 
              <i class="fas fa-angle-down rotate-icon"></i>
 
            </h5>
 
          </a>
 
        </div>
 
        <!-- Card body -->
        <div id="collapseOne2" class="collapse show" role="tabpanel" aria-labelledby="headingOne2"
          data-parent="#accordionEx">
 
          <div class="card-body">
 
           list bài học2
 
          </div>
 
        </div>
 
       </div>
     </div>

    <!-- Section: Product detail -->
    <div class="divider-new">

      <h3 class="h3-responsive font-weight-bold blue-text mx-3">Product Reviews</h3>

    </div>

    <!-- Product Reviews -->
    <section id="reviews" class="pb-5">

      <!-- Main wrapper -->
      <div class="comments-list text-center text-md-left">
        {{#if review}}
          {{#each review}}
            <div class="row mb-5">

            <!-- Image column -->
            {{#if photo}}
               <div class="col-sm-2 col-12 mb-3">
                <img src="{{photo}}" alt="sample image"
                  class="avatar rounded-circle z-depth-1-half">
              </div>
            {{else}}
              <div class="col-sm-2 col-12 mb-3">
                <img src="http://placehold.it/200" alt="sample image"
                class="avatar rounded-circle z-depth-1-half">
              </div>
            {{/if}}
            <!-- Image column -->

            <!-- Content column -->
            <div class="col-sm-10 col-12">

              <a>

                <h5 class="user-name font-weight-bold">{{username}}</h5>

              </a>

              <!-- Rating -->
              <ul class="rating">
                <script>
                for (var j = 1; j <= {{point}}; j++) {
                    document.write('<i class="fas fa-star blue-text"></i>')
                }
                </script>
              </ul>

              <div class="card-data">

                <ul class="list-unstyled mb-1">

                  <li class="comment-date font-small grey-text">
                    <script>
                      var d = new Date("{{feedback_date}}");
                      document.write('<i class="far fa-clock-o"></i>' + d.getDate() + '/' + d.getMonth() + '/' + d.getFullYear())
                    </script>
                  </li>
                </ul>

              </div>

              <p class="dark-grey-text article">{{comment}}</p>

            </div>
            <!-- Content column -->

          </div>
          {{/each}}
        {{/if}}
      </div>
      <!-- Main wrapper -->

    </section>
    <div class="divider-new">

      <a class="h3-responsive font-weight-bold blue-text mx-3" id="instructorInfo">Instructor information</a>

    </div>
    <section id="instructor" class="ph-5">
      <h3 class="blue-text">{{instructor.fullname}}</h3>
      <p>{{instructor.bio}}</p>
      <div class="row mb-5">
            <!-- Image column -->
            {{#if instructor.photo}}
               <div class="col-sm-2 col-12 mb-3 w-150 h-150">
                <img src="{{instructor.photo}}" alt="sample image"
                  class="avatar rounded-circle z-depth-1-half">
              </div>
            {{else}}
              <div class="col-sm-2 col-12 mb-3 w-150 h-150">
                <img src="http://placehold.it/150" alt="sample image"
                class="avatar rounded-circle z-depth-1-half">
              </div>
            {{/if}}
            <!-- Image column -->

            <!-- Content column -->
            <div class="col-sm-10 col-12 mt-1">
              <p>
                <i class="fas fa-star orange-text"></i>
                <span> {{instructorAvgStart}} Intructor rating</span>
              </p>
              <p>
                <i class="fas fa-eye orange-text"></i>
                <span> {{instructorReview}} Review</span>
              </p>
              <p>
                <i class="fas fa-user-friends orange-text"></i>
                <span> {{instructorStudent}} Student</span>
              </p>
              <p>
                <i class="fab fa-youtube orange-text"></i>
                <span> {{instructorCourse}} Course</span>
              </p>
            </div>
            <!-- Content column -->

          </div>
        <p>{{instructor.about_me}}</p>
    </section>
    <!-- Product Reviews -->
    <div class="divider-new">

      <h3 class="h3-responsive font-weight-bold blue-text mx-3">Related Products</h3>

    </div>

    <!-- Section: Products v.5 -->
    <section id="products" class="pb-5">

      <p class="text-center w-responsive mx-auto mb-5 dark-grey-text">Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi,

        veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>

      <!-- Carousel Wrapper -->
      <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

        <!-- Controls -->
        <div class="controls-top">

          <a class="btn-floating primary-color" href="#multi-item-example" data-slide="prev">

            <i class="fas fa-chevron-left"></i>

          </a>

          <a class="btn-floating primary-color" href="#multi-item-example" data-slide="next">

            <i class="fas fa-chevron-right"></i>

          </a>

        </div>
        <!-- Controls -->

        <!-- Indicators -->
        <ol class="carousel-indicators">

          <li class="primary-color" data-target="#multi-item-example" data-slide-to="0" class="active"></li>

          <li class="primary-color" data-target="#multi-item-example" data-slide-to="1"></li>

          <li class="primary-color" data-target="#multi-item-example" data-slide-to="2"></li>

        </ol>
        <!-- Indicators -->

        <!-- Slides -->
        <div class="carousel-inner" role="listbox">

          <!-- First slide -->
          <div class="carousel-item active">

            <div class="col-md-4 mb-4">

              <!-- Card -->
              <div class="card card-ecommerce">

                <!-- Card image -->
                <div class="view overlay">

                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/14.jpg" class="img-fluid"
                    alt="">

                  <a>

                    <div class="mask rgba-white-slight"></div>

                  </a>

                </div>
                <!-- Card image -->

                <!-- Card content -->
                <div class="card-body">

                  <!-- Category & Title -->
                  <h5 class="card-title mb-1">

                    <strong>

                      <a href="" class="dark-grey-text">Sony TV-675i</a>

                    </strong>

                  </h5>

                  <span class="badge badge-danger mb-2">bestseller</span>

                  <!-- Rating -->
                  <ul class="rating">

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star grey-text"></i>

                    </li>

                  </ul>

                  <!-- Card footer -->
                  <div class="card-footer pb-0">

                    <div class="row mb-0">

                      <span class="float-left">

                        <strong>1439$</strong>

                      </span>

                      <span class="float-right">

                        <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                          <i class="fas fa-shopping-cart ml-3"></i>

                        </a>

                      </span>

                    </div>

                  </div>

                </div>
                <!-- Card content -->

              </div>
              <!-- Card -->

            </div>

            <div class="col-md-4 clearfix d-none d-md-block mb-4">

              <!-- Card -->
              <div class="card card-ecommerce">

                <!-- Card image -->
                <div class="view overlay">

                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid"
                    alt="">

                  <a>

                    <div class="mask rgba-white-slight"></div>

                  </a>

                </div>
                <!-- Card image -->

                <!-- Card content -->
                <div class="card-body">

                  <!-- Category & Title -->
                  <h5 class="card-title mb-1">

                    <strong>

                      <a href="" class="dark-grey-text">Samsung 786i</a>

                    </strong>

                  </h5>

                  <span class="badge badge-info mb-2">new</span>

                  <!-- Rating -->
                  <ul class="rating">

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star grey-text"></i>

                    </li>

                  </ul>

                  <!-- Card footer -->
                  <div class="card-footer pb-0">

                    <div class="row mb-0">

                      <span class="float-left">

                        <strong>1439$</strong>

                      </span>

                      <span class="float-right">

                        <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                          <i class="fas fa-shopping-cart ml-3"></i>

                        </a>

                      </span>

                    </div>

                  </div>

                </div>
                <!-- Card content -->

              </div>
              <!-- Card -->

            </div>

            <div class="col-md-4 clearfix d-none d-md-block mb-4">

              <!-- Card -->
              <div class="card card-ecommerce">

                <!-- Card image -->
                <div class="view overlay">

                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/9.jpg" class="img-fluid"
                    alt="">

                  <a>

                    <div class="mask rgba-white-slight"></div>

                  </a>

                </div>
                <!-- Card image -->

                <!-- Card content -->
                <div class="card-body">

                  <!-- Category & Title -->
                  <h5 class="card-title mb-1">

                    <strong>

                      <a href="" class="dark-grey-text">Canon 675-D</a>

                    </strong>

                  </h5>

                  <span class="badge badge-danger mb-2">bestseller</span>

                  <!-- Rating -->
                  <ul class="rating">

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                  </ul>

                  <!-- Card footer -->
                  <div class="card-footer pb-0">

                    <div class="row mb-0">

                      <span class="float-left">

                        <strong>1439$</strong>

                      </span>

                      <span class="float-right">

                        <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                          <i class="fas fa-shopping-cart ml-3"></i>

                        </a>

                      </span>

                    </div>

                  </div>

                </div>
                <!-- Card content -->

              </div>
              <!-- Card -->

            </div>

          </div>
          <!-- First slide -->

          <!-- Second slide -->
          <div class="carousel-item">

            <div class="col-md-4">

              <!-- Card -->
              <div class="card card-ecommerce">

                <!-- Card image -->
                <div class="view overlay">

                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/8.jpg" class="img-fluid"
                    alt="">

                  <a>

                    <div class="mask rgba-white-slight"></div>

                  </a>

                </div>
                <!-- Card image -->

                <!-- Card content -->
                <div class="card-body">

                  <!-- Category & Title -->
                  <h5 class="card-title mb-1">

                    <strong>

                      <a href="" class="dark-grey-text">Samsung V54</a>

                    </strong>

                  </h5>

                  <span class="badge grey mb-2">best rated</span>

                  <!-- Rating -->
                  <ul class="rating">

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                  </ul>

                  <!-- Card footer -->
                  <div class="card-footer pb-0">

                    <div class="row mb-0">

                      <span class="float-left">

                        <strong>1439$</strong>

                      </span>

                      <span class="float-right">

                        <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                          <i class="fas fa-shopping-cart ml-3"></i>

                        </a>

                      </span>

                    </div>

                  </div>

                </div>
                <!-- Card content -->

              </div>
              <!-- Card -->

            </div>

            <div class="col-md-4 clearfix d-none d-md-block mb-4">

              <!-- Card -->
              <div class="card card-ecommerce">

                <!-- Card image -->
                <div class="view overlay">

                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/5.jpg" class="img-fluid"
                    alt="">

                  <a>

                    <div class="mask rgba-white-slight"></div>

                  </a>

                </div>
                <!-- Card image -->

                <!-- Card content -->
                <div class="card-body">

                  <!-- Category & Title -->
                  <h5 class="card-title mb-1">

                    <strong>

                      <a href="" class="dark-grey-text">Dell V-964i</a>

                    </strong>

                  </h5>

                  <span class="badge badge-info mb-2">new</span>

                  <!-- Rating -->
                  <ul class="rating">

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                  </ul>

                  <!-- Card footer -->
                  <div class="card-footer pb-0">

                    <div class="row mb-0">

                      <span class="float-left">

                        <strong>1439$</strong>

                      </span>

                      <span class="float-right">

                        <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                          <i class="fas fa-shopping-cart ml-3"></i>

                        </a>

                      </span>

                    </div>

                  </div>

                </div>
                <!-- Card content -->

              </div>
              <!-- Card -->

            </div>

            <div class="col-md-4 clearfix d-none d-md-block mb-4">

              <!-- Card -->
              <div class="card card-ecommerce">

                <!-- Card image -->
                <div class="view overlay">

                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/1.jpg" class="img-fluid"
                    alt="">

                  <a>

                    <div class="mask rgba-white-slight"></div>

                  </a>

                </div>
                <!-- Card image -->

                <!-- Card content -->
                <div class="card-body">

                  <!-- Category & Title -->
                  <h5 class="card-title mb-1">

                    <strong>

                      <a href="" class="dark-grey-text">iPad PRO</a>

                    </strong>

                  </h5>

                  <span class="badge badge-danger mb-2">bestseller</span>

                  <!-- Rating -->
                  <ul class="rating">

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star grey-text"></i>

                    </li>

                  </ul>

                  <!-- Card footer -->
                  <div class="card-footer pb-0">

                    <div class="row mb-0">

                      <span class="float-left">

                        <strong>1439$</strong>

                      </span>

                      <span class="float-right">

                        <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                          <i class="fas fa-shopping-cart ml-3"></i>

                        </a>

                      </span>

                    </div>

                  </div>

                </div>
                <!-- Card content -->

              </div>
              <!-- Card -->

            </div>

          </div>
          <!-- Second slide -->

          <!-- Third slide -->
          <div class="carousel-item">

            <div class="col-md-4 mb-4">

              <!-- Card -->
              <div class="card card-ecommerce">

                <!-- Card image -->
                <div class="view overlay">

                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid"
                    alt="">

                  <a>

                    <div class="mask rgba-white-slight"></div>

                  </a>

                </div>

                <!-- Card image -->

                <!-- Card content -->
                <div class="card-body">

                  <!-- Category & Title -->
                  <h5 class="card-title mb-1">

                    <strong>

                      <a href="" class="dark-grey-text">Asus CT-567</a>

                    </strong>

                  </h5>

                  <span class="badge grey mb-2">best rated</span>

                  <!-- Rating -->
                  <ul class="rating">

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                  </ul>

                  <!-- Card footer -->
                  <div class="card-footer pb-0">

                    <div class="row mb-0">

                      <span class="float-left">

                        <strong>1439$</strong>

                      </span>

                      <span class="float-right">

                        <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                          <i class="fas fa-shopping-cart ml-3"></i>

                        </a>

                      </span>

                    </div>

                  </div>

                </div>
                <!-- Card content -->

              </div>
              <!-- Card -->

            </div>

            <div class="col-md-4 clearfix d-none d-md-block mb-4">

              <!-- Card -->
              <div class="card card-ecommerce">

                <!-- Card image -->
                <div class="view overlay">

                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/7.jpg" class="img-fluid"
                    alt="">

                  <a>

                    <div class="mask rgba-white-slight"></div>

                  </a>

                </div>
                <!-- Card image -->

                <!-- Card content -->
                <div class="card-body">

                  <!-- Category & Title -->
                  <h5 class="card-title mb-1">

                    <strong>

                      <a href="" class="dark-grey-text">Dell 786i</a>

                    </strong>

                  </h5>

                  <span class="badge badge-info mb-2">new</span>

                  <!-- Rating -->
                  <ul class="rating">

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star grey-text"></i>

                    </li>

                  </ul>

                  <!-- Card footer -->
                  <div class="card-footer pb-0">

                    <div class="row mb-0">

                      <span class="float-left">

                        <strong>1439$</strong>

                      </span>

                      <span class="float-right">

                        <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                          <i class="fas fa-shopping-cart ml-3"></i>

                        </a>

                      </span>

                    </div>

                  </div>

                </div>
                <!-- Card content -->

              </div>
              <!-- Card -->

            </div>

            <div class="col-md-4 clearfix d-none d-md-block mb-4">

              <!-- Card -->
              <div class="card card-ecommerce">

                <!-- Card image -->
                <div class="view overlay">

                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/10.jpg" class="img-fluid"
                    alt="">

                  <a>

                    <div class="mask rgba-white-slight"></div>

                  </a>

                </div>
                <!-- Card image -->

                <!-- Card content -->
                <div class="card-body">

                  <!-- Category & Title -->
                  <h5 class="card-title mb-1">

                    <strong>

                      <a href="" class="dark-grey-text">Headphones</a>

                    </strong>

                  </h5>

                  <span class="badge badge-info mb-2">new</span>

                  <!-- Rating -->
                  <ul class="rating">

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                    <li>

                      <i class="fas fa-star blue-text"></i>

                    </li>

                  </ul>

                  <!-- Card footer -->
                  <div class="card-footer pb-0">

                    <div class="row mb-0">

                      <span class="float-left">

                        <strong>1439$</strong>

                      </span>

                      <span class="float-right">

                        <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart">

                          <i class="fas fa-shopping-cart ml-3"></i>

                        </a>

                      </span>

                    </div>

                  </div>

                </div>
                <!-- Card content -->

              </div>
              <!-- Card -->

            </div>

          </div>
          <!-- Third slide -->

        </div>
        <!-- Slides -->

      </div>
      <!-- Carousel Wrapper -->

    </section>
    <!-- Section: Products v.5 -->

  </div>
  <!-- Main Container -->

  <!-- Footer -->
  <footer class="page-footer text-center text-md-left stylish-color-dark pt-0">

    <div style="background-color: #4285f4;">

      <div class="container">

        <!-- Grid row -->
        <div class="row py-4 d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">

            <h6 class="mb-0 white-text">Get connected with us on social networks!</h6>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">

            <!-- Facebook -->
            <a class="fb-ic ml-0 px-2">

              <i class="fab fa-facebook-f white-text"> </i>

            </a>

            <!-- Twitter -->
            <a class="tw-ic px-2">

              <i class="fab fa-twitter white-text"> </i>

            </a>

            <!-- Google + -->
            <a class="gplus-ic px-2">

              <i class="fab fa-google-plus-g white-text"> </i>

            </a>

            <!-- Linkedin -->
            <a class="li-ic px-2">

              <i class="fab fa-linkedin-in white-text"> </i>

            </a>

            <!-- Instagram -->
            <a class="ins-ic px-2">

              <i class="fab fa-instagram white-text"> </i>

            </a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>

    </div>

    <!-- Footer Links -->
    <div class="container mt-5 mb-4 text-center text-md-left">

      <div class="row mt-3">

        <!-- First column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

          <h6 class="text-uppercase font-weight-bold">

            <strong>Company name</strong>

          </h6>

          <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

          <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet,
            consectetur

            adipisicing elit.</p>

        </div>
        <!-- First column -->

        <!-- Second column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <h6 class="text-uppercase font-weight-bold">

            <strong>Products</strong>

          </h6>

          <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

          <p>

            <a href="#!">MDBootstrap</a>

          </p>

          <p>

            <a href="#!">MDWordPress</a>

          </p>

          <p>

            <a href="#!">BrandFlow</a>

          </p>

          <p>

            <a href="#!">Bootstrap Angular</a>

          </p>

        </div>
        <!-- Second column -->

        <!-- Third column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <h6 class="text-uppercase font-weight-bold">

            <strong>Useful links</strong>

          </h6>

          <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

          <p>

            <a href="#!">Your Account</a>

          </p>

          <p>

            <a href="#!">Become an Affiliate</a>

          </p>

          <p>

            <a href="#!">Shipping Rates</a>

          </p>

          <p>

            <a href="#!">Help</a>

          </p>

        </div>
        <!-- Third column -->

        <!-- Fourth column -->
        <div class="col-md-4 col-lg-3 col-xl-3">

          <h6 class="text-uppercase font-weight-bold">

            <strong>Contact</strong>

          </h6>

          <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

          <p>

            <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>

          <p>

            <i class="fas fa-envelope mr-3"></i> info@example.com</p>

          <p>

            <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>

          <p>

            <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>

        </div>
        <!-- Fourth column -->

      </div>

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright py-3 text-center">

      <div class="container-fluid">

        © 2019 Copyright:

        <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> MDBootstrap.com </a>

      </div>

    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

  <!-- Cart Modal -->
  <div class="modal fade cart-modal" id="cart-modal-ex" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">

    <div class="modal-dialog" role="document">

      <!-- Content -->
      <div class="modal-content">

        <!-- Header -->
        <div class="modal-header">

          <h4 class="modal-title font-weight-bold dark-grey-text" id="myModalLabel">Your cart</h4>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">

            <span aria-hidden="true">&times;</span>

          </button>

        </div>

        <!-- Body -->
        <div class="modal-body">

          <table class="table table-hover">

            <thead>

              <tr>

                <th>#</th>

                <th>Product name</th>

                <th>Price</th>

                <th>Remove</th>

              </tr>

            </thead>

            <tbody>

              <tr>

                <th scope="row">1</th>

                <td>Product 1</td>

                <td>100$</td>

                <td>

                  <a>

                    <i class="fas fa-eraser"></i>

                  </a>

                </td>

              </tr>

              <tr>

                <th scope="row">2</th>

                <td>Product 2</td>

                <td>100$</td>

                <td>

                  <a>

                    <i class="fas fa-eraser"></i>

                  </a>

                </td>

              </tr>

              <tr>

                <th scope="row">3</th>

                <td>Product 3</td>

                <td>100$</td>

                <td>

                  <a>

                    <i class="fas fa-eraser"></i>

                  </a>

                </td>

              </tr>

              <tr>

                <th scope="row">4</th>

                <td>Product 4</td>

                <td>100$</td>

                <td>

                  <a>

                    <i class="fas fa-eraser"></i>

                  </a>

                </td>

              </tr>

            </tbody>

          </table>

          <button class="btn btn-primary btn-rounded btn-sm">Checkout</button>

        </div>

        <!-- Footer -->
        <div class="modal-footer">

          <button type="button" class="btn blue darken-3 btn-rounded btn-sm" data-dismiss="modal">Close</button>

        </div>

      </div>
      <!-- Content -->

    </div>

  </div>
  <!-- Cart Modal -->

