<nav class="navbar navbar-expand-lg navbar-light shadow-sm fixed-top scrolling-navbar">
  <!--nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-light fixed-top"-->
  <div class="container">

    <!--Logo -->
    <a class="navbar-brand mr-3" href="/">
      <img src="/image/logo-temp.svg" alt="logo" height="50">
      <span class="ml-3 font-weight-bold">E-EDU</span>
    </a>

    <!--collapse -->
    <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
      data-target="#navbarNav" aria-controls="navbarNav">
      <span class="navbar-toggler-icon">
        <!--i class="fas fa-bars" style="color:black;"></i-->
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

      <!-- left -->
      <ul class="navbar-nav mr-auto">

        <!-- category -->
        <div class="dropdown btn-group shadow-0">
          <a class="nav-link dropdown-toggle waves-effect waves-light dark-grey-text font-weight-bold ml-3" href="/"
            role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-tag left"></i>
            Category
          </a>
          <ul class="dropdown-menu ml-3" aria-labelledby="dropdownMenuLink">

            {{#each lcAllCategories}}
            {{#if hasSubCategory}}
            <li class="dropdown-submenu"><a class="dropdown-item dark-grey-text font-weight-bold dropdown-toggle pr-5"
                href="/course/byCat?category_id={{id}}">{{{icon}}} {{name}}</a>
              <ul class="dropdown-menu">

                {{#each subCategory}}
                <li><a class="dropdown-item dark-grey-text" href="/course/byCat?sub_category_id={{this.id}}">{{{icon}}}
                    {{name}}</a></li>
                {{/each}}
              </ul>
            </li>
            {{else}}
            <li><a class="dropdown-item dark-grey-text font-weight-bold" href="/course/byCat?category_id={{this.id}}">{{{icon}}}
                {{name}}</a></li>
            {{/if}}
            {{/each}}
          </ul>
        </div>
      </ul>

      <ul class="navbar-nav mr-auto" style="text-align:center">
        <li class="nav-item">
          <!-- Search form -->
          <form class="form-inline active-blue-1 my-auto d-inline waves-light waves-effect waves-light">
            <div class="md-form my-0">
              <input class="form-control mb-2" type="text" placeholder="Search" id='search' aria-label="Search" onclick="searchFunction()" onfocusout="removeSearchResult()" oninput="searchFunction()">
              <i class="fas fa-search text-black" aria-hidden="true"></i>
            </div>
          </form>
          <ul class="list-group" id='resultSearch'></ul>
          <!-- div class="dropdown-wrapper" id='resultSearch'-->
            <!-- -->
          <!--/div-->
        </li>

      </ul>

      <!-- right -->
      <!-- button -->
      <ul class="navbar-nav nav-ml-auto">
        {{#if session.username}}

        <!-- button for student-->
        {{#eq session.type "student"}}
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold mr-4" href="/course/myLearning">
          {{#if numberOfUnreviewedCourse}}
          <span class="badge badge-danger">{{numberOfUnreviewedCourse}}</span>
          {{/if}}
          <i class="fas fa-chalkboard"></i>
          My learning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" href="/cart">
          {{#if session.cart.length}}
          <span class="badge badge-danger">{{session.cart.length}}</span>
          {{/if}}
          <i class="fas fa-shopping-cart"></i>Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" href="/watchlist">
            {{#if session.watchlist.length}}
            <span class="badge badge-danger">{{session.watchlist.length}}</span>
            {{/if}}
            <i class="fas fa-heart"></i>Watch list</a>
        </li>
        {{/eq}}
      
        <!-- button for instructor-->
        {{#eq session.type "instructor"}}
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" href="/course/myCourse">
            <i class="fas fa-chalkboard"></i> My course</a>
        </li>
        {{/eq}}

        {{#eq session.type "administrator"}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle waves-effect waves-light dark-grey-text font-weight-bold"
            id="navbarDropdownMenuLink-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fab fa-docker"></i>
            Manage </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-5">
            <a class="dropdown-item waves-effect waves-light dark-grey-text" href="/admin/account/">
              <i class="fas fa-users-cog"></i> Manage Users</a>
            <a class="dropdown-item waves-effect waves-light dark-grey-text" href="/admin/category"><i
                class="fas fa-list-alt"></i> Manage Category</a>
          </div>
        </li>
        {{/eq}}
        
        <!-- Profile button -->
        {{#if (not (eq session.type "administrator"))}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle waves-effect waves-light dark-grey-text font-weight-bold"
            id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{#eq session.type "instructor"}}<i class="fas fa-chalkboard-teacher"></i> {{/eq}} 
            {{#eq session.type "student"}}<i class="fas fa-user "></i> {{/eq}} 
            Profile </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
            <a class="dropdown-item waves-effect waves-light dark-grey-text" href="/account/profile"><i
                class="fas fa-user-edit"></i> My Profile</a>
            <hr class="dropdown-divider" />
            <a class="dropdown-item waves-effect waves-light dark-grey-text" href="/account/logout"><i
                class="fas fa-sign-out-alt"></i> Log out</a>
          </div>
        </li>
        {{else}}
        <li class="nav-item">
            <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" href="/account/logout"><i
                class="fas fa-sign-out-alt"></i> Log out</a>
        </li>
        {{/if}}
        <!-- Profile button -->

      </ul>
      {{else}}
      <li class="nav-item mr-2">
        <a href="/account/login" class="btn btn-md btn-outline-black" type="button">Login</a>
      </li>
      <li class="nav-item mr-2">
        <a href="/account/register" class="btn shadow-0 btn-md btn-blue mr-2" type="button">SignUp</a>
      </li>
      {{/if}}
    </div>
  </div>
</nav>
